/* font-family: 'Inter', sans-serif;
    font-family: 'Source Sans Pro', sans-serif; */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

h1,
h2 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

h1 {
  font-weight: 300;
  font-size: 3.4rem;
}
h2 {
  font-size: 2.8rem;
}

/*-------- UTILITIES ----------*/
/*----------------------------*/

.bold {
  font-weight: bold;
}
.mrgb-1 {
  margin-bottom: 0.9rem;
}

.mrgb-2 {
  margin-bottom: 1.4rem;
}
